.Header {
  height: 2.5rem;
  border: #2d2d2d;
  background-color: #2d2d2d;

  .Logo {
    color: white;
    font-family: sans-serif;
    font-size: 1.1rem;
  }
}

body {
  background-color: #a8a8a8;
}